.contact-body {
    background-color: $background-color-1;
}

.contact-header {
    background-image: url(../mindnSoul-final-images/contact-image-1.jpg);
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
}

.contact-header-title {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 50%;
    width: 100%;
    padding-left: 100px;
    padding-bottom: 100px;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
    margin-left: 50px;
    background-color: $background-color-2;
    padding: 70px 50px 50px 50px;
    position: relative;
    top: -200px;
    box-shadow: 20px 20px 0 $title-color;
}

.contact-body #name,
.contact-body #email {
    width: 46%;
    height: 40px;
    background-color: $background-color-2;
    color: white;
    border: 0;
    border-bottom: 1px solid $title-color;
    font-size: 2rem;
    padding-left: 40px;
}

#message {
    margin-top: 50px;
    width: 100%;
    height: 300px;
    background-color: $background-color-2;
    color: white;
    border: 1px solid $title-color;
    font-size: 2rem;
    padding: 40px;
    resize: none;
}

form button {
    width: 100%;
    margin-top: 50px;
}

.contact-content {
    display: flex;
    justify-content: space-between;
}

.contact-info {
    margin: 0 auto;
    margin-top: 100px;
    width: 20%;
}

.contact-info i {
    color: $title-color;
    padding-right: 25px;
}

.contact-info p {
    margin-top: 25px;
}

address {
    font-style: normal;
}

@media(max-width:1200px) {
    .contact-content {
        flex-wrap: wrap;
    }
    
    .contact-form {
        width: 90%;
        margin: 0 auto;
    }

    .contact-info {
        margin-top: -100px;
        margin-bottom: 100px;
        width: 100%;
        text-align: center;
    }
}

@media(max-width:900px) {
    .contact-header-title {
        padding-left: 0;
        justify-content: center;
        text-align: center;
    }

    .contact-body #name,
    .contact-body #email {
        width: 100%;
    }

    .contact-body #name {
        margin-bottom: 50px;
    }
}