.home-header {
    background-image: url(../mindnSoul-final-images/home-image-1.jpg);
    background-size: cover;
    height: 80vh;
}

.logo {
    float: left;
    padding-left: 10%;
    padding-top: 40px;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
}

.navigation-font {
    padding-left: 40px;
}

.home-header img {
    position: relative;
    bottom: -20%;
    float: left;
}


.title-pos {
    position: relative;
    top: 23%;
    left: 3%;
}

.welcome-to {
    color: white;
    position: relative;
    left: -26%;
    font-size: 4rem;

}

// First Section Styling

.new-adventure {
    background-color: $background-color-1;
}

.new-adventure-all {
    display: flex;
    padding-top: 200px;
    padding-bottom: 100px;
}

.new-adventure-text {
    width: 70%;
    margin-right: 75px;
}
.new-adventure-all img {
    box-shadow: -20px 20px 0 $button-background;
    width: 30%;
}

// Second Section Styling

.gallery {
    background-color: $background-color-2;
}

.gallery .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}
.gallery img {
    width: 31%;
}

// Third Section Styling

.links-sect {
    background-color: $background-color-1;
    padding: 50px 0;
}

.links-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.links-div div {
    width: calc(50% - 6rem - 10px);
    margin-bottom: 50px;
}

i {
    font-size: 2.5rem;
    color: white;
}

// This span adds the green circle behind icons
span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $button-background;
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
    margin-right: 10px;
    margin-top: 15px;
}


// Fourth Section Styling

.vertical-split {
    background-color: $background-color-2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.vertical-split div {
    width: 40%;

}

.vertical-split img {
    width: 40%;
}

.right-text {
    padding-right: 200px;
}

.left-text {
    padding-left: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.left-img {
    position: relative;
    top: -25px;
    box-shadow: 20px 20px 0 $title-color;
}

.right-img {
    position: relative;
    top: 25px;
    box-shadow: -20px 20px 0 $title-color;
}

.banner {
    width: 100%;
}

// Fifth Section Styling

.trials {
    background-color: $background-color-1;
    padding: 100px 0;
    // Fixing ghost space
    margin-top: -1px;
}

.trials h3 {
    text-align: center;
    
}

.trials p {
    width: 70%;
    margin: 0 auto;
}

.trials button {
    width: 15%;
    margin-left: 42.5%;
    margin-right: 42.5%
}

footer {
    background-color: $background-color-2;
    text-align: center;
}