header {
    background-image: url(../mindnSoul-final-images/home-image-1.jpg);
    background-size: cover;
    height: 80vh;
}

.logo {
    float: left;
    padding-left: 10%;
    padding-top: 40px;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
}

.navigation-font {
    padding-left: 40px;
}

header img {
    position: relative;
    bottom: -20%;
    float: left;
}


.title-pos {
    position: relative;
    top: 23%;
    left: 3%;
}

.welcome-to {
    color: white;
    position: relative;
    left: -26%;
    font-size: 4rem;

}

// First Section Styling

.new-adventure {
    background-color: $background-color-1;
}

.new-adventure-all {
    display: flex;
    padding-top: 200px;
    padding-bottom: 100px;
}

.new-adventure-text {
    width: 70%;
    margin-right: 75px;
}
.new-adventure-all img {
    box-shadow: -20px 20px 0 $button-background;
    width: 30%;
}

// Second Section Styling

.gallery {
    background-color: $background-color-2;
}

.gallery .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}
.gallery img {
    width: 31%;
}

// Third Section Styling

.links-sect {
    background-color: $background-color-1;
}

.links-div {
    display: flex;
    flex-wrap: wrap;
}

.links-div div {
    width: 50%;
}

