

// Setting background color for ultra wide displays
.home-body {
    background-color: $background-color-1;
}

.home-header {
    background-image: url(../mindnSoul-final-images/home-image-1.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.logo {
    float: left;
    padding-left: 100px;
    padding-top: 40px;
    width: 20%;
}

header nav {
    width: 80%;
    padding-right: 100px
}

.ham-icon,
.ham-input {
    display: none;
    position: absolute;
    top:-500px;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
}

.navigation-font {
    padding-left: 40px;
}

.home-header img {
    position: relative;
    bottom: -20%;
    max-width: 50%;
    filter: sepia();
}

.header-content {
    display:flex;
}

.title-pos {
    margin-left: 50px;
    margin-top: 150px;
}

.welcome-to {
    color: white;
    position: relative;
    font-size: 4rem;
    z-index: 0;

}

// First Section Styling

.new-adventure {
    background-color: $background-color-1;
}

.new-adventure-all {
    display: flex;
    padding-top: 200px;
    padding-bottom: 100px;
}

.new-adventure-text {
    width: 70%;
    margin-right: 75px;
}
.new-adventure-all img {
    box-shadow: -20px 20px 0 $button-background;
    width: 30%;

    // setting max height to prevent distortion between breakpoints
    max-height: 35vw;
}

// Second Section Styling

.gallery {
    background-color: $background-color-2;
}

.gallery .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}
.gallery img {
    width: 31%;
}

// Third Section Styling

.links-sect {
    background-color: $background-color-1;
    padding: 50px 0;
}

.links-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.links-div div {
    width: calc(50% - 6rem - 10px);
    margin-bottom: 50px;
}

i {
    font-size: 2.5rem;
    color: white;
}

// This span adds the green circle behind icons
.background-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $button-background;
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
    margin-right: 10px;
    margin-top: 15px;
}

.links-sect h3 {
    margin-top: 10px;
}


// Fourth Section Styling

.vertical-split {
    background-color: $background-color-2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.vertical-split div {
    width: 40%;

}

.vertical-split img {
    width: 40%;
}

.right-text {
    padding-right: 10%;
    display: flex;
    flex-wrap: wrap;
}

.left-text {
    padding-left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.left-img {
    position: relative;
    top: -25px;
    box-shadow: 20px 20px 0 $title-color;
}

.right-img {
    position: relative;
    top: 25px;
    box-shadow: -20px 20px 0 $title-color;
}


.banner {
    width: 100%;
}

// Fifth Section Styling

.trials {
    background-color: $background-color-1;
    padding: 100px 0;
    // Fixing ghost space
    margin-top: -1px;
}

.trials h3 {
    text-align: center;
    
}

.trials p {
    width: 70%;
    margin: 0 auto;
}

.trials-button-pos {
    display: flex;
    justify-content: center;
}

footer {
    background-color: $background-color-2;
    text-align: center;
}



// RESPONSIVE DESIGN

@media (max-width: 1200px) {
    // Would confirm with designer how they would like this image to perform on tablet
    .home-header img {
        max-width: 30%;
    }

    .vertical-split div {
        width: 45%;
    
    }
    
    .vertical-split img {
        width: 45%;
    }
}

@media (max-width: 900px) {

    // header mobile
    .header-content {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    
    // removing logo as it looks doubled with H1 on mobile
    .home-header .logo {
        display: none;
    }

    .home-header {
        min-height: 525px;
    }

    .home-header img {
        max-width: 60%;
        bottom: 0;
    }

    .title-pos {
        margin-top: 0px;
        margin-left: 0;
        width: 100%;
        text-align: center;
    }
    h1 {
        font-size: 20vw;
    }
    
    .header-nav {
        display: none;
    }

    // First Section Mobile

    .new-adventure {
        background-color: $background-color-1;
    }
    
    .new-adventure-all {
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 50px;
    }
    
    .new-adventure-text {
        width: 100%;
        margin: 0px 20px;
    }

    .new-adventure-all img {
        box-shadow: -20px 20px 0 $button-background;
        width: 90%;
    
        // preventing scaling with max-height above
        max-height: 1000px;;
    }

    .new-adventure-all button {
        width: 100%;
    }
    
    // Second Section Mobile
    
    
    .gallery .wrapper {
        flex-direction: column;
    }
    .gallery img {
        width: 100%;
        margin-top: 50px;
    }
    // Third Section Mobile

    .links-div div {
        width: calc(100% - 6rem - 10px);
    }
    
    
    // Fourth Section Mobile

    .vertical-split {
        background-color: $background-color-2;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .vertical-split div,
    .vertical-split img {
        width: 90%;
    }


    .right-text,
    .left-text {
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
        order: 2;
    }

    .left-text {
        order: 4;
    }


    .left-img {
        position: relative;
        top: -25px;
        box-shadow: 20px 20px 0 $title-color;
        order: 1
    }

    .right-img {
        position: relative;
        top: 25px;
        box-shadow: -20px 20px 0 $title-color;
        order: 3;
        margin-bottom: 50px;
    }

    .vertical-split button {
        width: 100%;
        margin: 50px 0;
    }

    .banner {
        width: 100%;
    }

    // Fifth Section Mobile
    .trials p {
        width: 90%;
        margin-bottom: 50px;
    }

    .trials button {
        width: 90%;
    }
}
