@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
}

* {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Dokdo', cursive;
  font-size: 11.5rem;
  color: #FFC600;
  margin: 0;
}

h2 {
  font-family: 'Dokdo', cursive;
  font-size: 10.5rem;
  line-height: 69.6px;
  letter-spacing: 10.9px;
  color: #FFC600;
  margin: 0;
}

h3 {
  font-family: 'Dokdo', cursive;
  font-size: 4.5rem;
  line-height: 58px;
  letter-spacing: .49px;
  color: #FFC600;
}

.logo {
  font-family: 'Dokdo', cursive;
  font-size: 4.15rem;
  color: #FFC600;
}

h4 {
  font-family: 'Dokdo', cursive;
  font-size: 3rem;
  line-height: 58px;
  letter-spacing: 4.3px;
  color: white;
}

.navigation-font {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  list-style: none;
  color: white;
  text-transform: uppercase;
}

.navigation-font:hover,
.navigation-font:focus {
  color: #FFC600;
}

p,
address {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 2px;
  margin: 0;
  color: white;
}

::-webkit-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 2px;
  opacity: 1;
}

:-ms-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 2px;
  opacity: 1;
}

::-ms-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 2px;
  opacity: 1;
}

::placeholder {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 2px;
  opacity: 1;
}

textarea {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 2px;
  opacity: 1;
}

button {
  font-family: 'Dokdo', cursive;
  font-size: 3.5rem;
  background-color: #555F02;
  color: white;
  border: none;
  padding: 5px 10px;
}

button:hover,
button:focus {
  background-color: #FFC600;
}

.home-header {
  background-image: url(../mindnSoul-final-images/home-image-1.jpg);
  background-size: cover;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo {
  float: left;
  padding-left: 100px;
  padding-top: 40px;
  width: 20%;
}

header nav {
  width: 80%;
  padding-right: 100px;
}

.ham-icon,
.ham-input {
  display: none;
  position: absolute;
  top: -500px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 40px;
}

.navigation-font {
  padding-left: 40px;
}

.home-header img {
  position: relative;
  bottom: -20%;
  max-width: 50%;
  -webkit-filter: sepia();
          filter: sepia();
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title-pos {
  margin-left: 50px;
  margin-top: 150px;
}

.welcome-to {
  color: white;
  position: relative;
  font-size: 4rem;
  z-index: 0;
}

.new-adventure {
  background-color: #1E140E;
}

.new-adventure-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 200px;
  padding-bottom: 100px;
}

.new-adventure-text {
  width: 70%;
  margin-right: 75px;
}

.new-adventure-all img {
  -webkit-box-shadow: -20px 20px 0 #555F02;
          box-shadow: -20px 20px 0 #555F02;
  width: 30%;
  max-height: 35vw;
}

.gallery {
  background-color: #262725;
}

.gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
}

.gallery img {
  width: 31%;
}

.links-sect {
  background-color: #1E140E;
  padding: 50px 0;
}

.links-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.links-div div {
  width: calc(50% - 6rem - 10px);
  margin-bottom: 50px;
}

i {
  font-size: 2.5rem;
  color: white;
}

.background-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #555F02;
  border-radius: 50%;
  height: 4.5rem;
  width: 4.5rem;
  margin-right: 10px;
  margin-top: 15px;
}

.links-sect h3 {
  margin-top: 10px;
}

.vertical-split {
  background-color: #262725;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vertical-split div {
  width: 40%;
}

.vertical-split img {
  width: 40%;
}

.right-text {
  padding-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.left-text {
  padding-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.left-img {
  position: relative;
  top: -25px;
  -webkit-box-shadow: 20px 20px 0 #FFC600;
          box-shadow: 20px 20px 0 #FFC600;
}

.right-img {
  position: relative;
  top: 25px;
  -webkit-box-shadow: -20px 20px 0 #FFC600;
          box-shadow: -20px 20px 0 #FFC600;
}

.banner {
  width: 100%;
}

.trials {
  background-color: #1E140E;
  padding: 100px 0;
  margin-top: -1px;
}

.trials h3 {
  text-align: center;
}

.trials p {
  width: 70%;
  margin: 0 auto;
}

.trials-button-pos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  background-color: #262725;
  text-align: center;
}

@media (max-width: 1200px) {
  .home-header img {
    max-width: 30%;
  }
  .vertical-split div {
    width: 45%;
  }
  .vertical-split img {
    width: 45%;
  }
}

@media (max-width: 900px) {
  .header-content {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-header .logo {
    display: none;
  }
  .home-header {
    height: 100vh;
    min-height: 525px;
  }
  .home-header img {
    max-width: 60%;
    bottom: 0;
  }
  .title-pos {
    margin-top: 0px;
    margin-left: 0;
    width: 100%;
    text-align: center;
  }
  h1 {
    font-size: 20vw;
  }
  .header-nav {
    display: none;
  }
  .new-adventure {
    background-color: #1E140E;
  }
  .new-adventure-all {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 50px;
  }
  .new-adventure-text {
    width: 100%;
    margin: 0px 20px;
  }
  .new-adventure-all img {
    -webkit-box-shadow: -20px 20px 0 #555F02;
            box-shadow: -20px 20px 0 #555F02;
    width: 90%;
    max-height: 1000px;
  }
  .new-adventure-all button {
    width: 100%;
  }
  .gallery .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery img {
    width: 100%;
    margin-top: 50px;
  }
  .links-div div {
    width: calc(100% - 6rem - 10px);
  }
  .vertical-split {
    background-color: #262725;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .vertical-split div,
  .vertical-split img {
    width: 90%;
  }
  .right-text,
  .left-text {
    padding-left: 0;
    padding-right: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .left-text {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .left-img {
    position: relative;
    top: -25px;
    -webkit-box-shadow: 20px 20px 0 #FFC600;
            box-shadow: 20px 20px 0 #FFC600;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .right-img {
    position: relative;
    top: 25px;
    -webkit-box-shadow: -20px 20px 0 #FFC600;
            box-shadow: -20px 20px 0 #FFC600;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-bottom: 50px;
  }
  .vertical-split button {
    width: 100%;
    margin: 50px 0;
  }
  .banner {
    width: 100%;
  }
  .trials p {
    width: 90%;
    margin-bottom: 50px;
  }
  .trials button {
    width: 90%;
  }
}

.blog-body {
  background-color: #1E140E;
}

.blog-header {
  background-image: url(../mindnSoul-final-images/blog-image-1.jpg);
  background-size: cover;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog-header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 50%;
  width: 100%;
  padding-left: 100px;
}

.discover-sect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.come-and-discover {
  width: 60%;
  border-bottom: 1px solid #555F02;
  border-right: 1px solid #555F02;
}

.come-and-discover img {
  width: calc(100% - 20px);
  -webkit-box-shadow: 20px 20px 0 #555F02;
          box-shadow: 20px 20px 0 #555F02;
  position: relative;
  top: -100px;
}

.discover-text {
  padding: 0 50px 50px 100px;
}

.discover-text p {
  margin-top: 20px;
}

.discover-text h3 {
  margin-bottom: 20px;
}

.discover-text i,
.discover-text b {
  font-size: 2rem;
}

aside {
  width: 20%;
  height: 100%;
  margin-top: 150px;
  background-color: #555F02;
}

aside h4 {
  margin: 0;
}

aside img {
  -webkit-box-shadow: -20px 20px 0 #555F02;
          box-shadow: -20px 20px 0 #555F02;
  width: 100%;
}

.aside-text {
  -webkit-box-shadow: -20px 0px 0 #555F02;
          box-shadow: -20px 0px 0 #555F02;
}

aside ul {
  padding: 0 0 20px 0;
  margin: 0;
}

aside ul li {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 2px;
  margin: 0;
  color: white;
  list-style: none;
}

aside ul li::before {
  content: "• ";
  color: #FFC600;
}

.comments-sect {
  width: 60%;
  padding: 0 50px 50px 100px;
}

.comments-sect h3 {
  color: white;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.comment img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 100%;
}

.comment-text {
  padding-left: 50px;
}

.comment-date-name {
  color: #FFC600;
}

.blog-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#name,
#email {
  width: 46%;
  height: 40px;
  background-color: #1E140E;
  color: white;
  border: 0;
  border-bottom: 1px solid #FFC600;
  font-size: 2rem;
}

#comment {
  margin-top: 50px;
  width: 100%;
  height: 200px;
  background-color: #1E140E;
  color: white;
  border: 1px solid #FFC600;
  font-size: 2rem;
  padding: 40px;
  resize: none;
}

form button {
  width: 100%;
  margin-top: 50px;
}

@media (max-width: 1200px) {
  .comments-sect {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .logo {
    padding-left: 10%;
  }
  .blog-header {
    height: 400px;
  }
  .blog-header-title {
    padding-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100px;
  }
  .discover-sect {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .come-and-discover {
    width: 100%;
    border: none;
  }
  .discover-text {
    padding-left: 0;
    padding-right: 0;
    width: 90%;
    margin: 0 auto;
  }
  aside {
    width: 100%;
  }
  .aside-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  aside p {
    width: 90%;
  }
  .comments-sect {
    width: 90%;
    padding: 0;
    margin: 0 auto;
  }
  .comment img {
    width: 20%;
  }
  .comment-text {
    padding-left: 20px;
  }
  #name,
  #email {
    padding: 0;
  }
}

.contact-body {
  background-color: #1E140E;
}

.contact-header {
  background-image: url(../mindnSoul-final-images/contact-image-1.jpg);
  background-size: cover;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 50%;
  width: 100%;
  padding-left: 100px;
  padding-bottom: 100px;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  margin-left: 50px;
  background-color: #262725;
  padding: 70px 50px 50px 50px;
  position: relative;
  top: -200px;
  -webkit-box-shadow: 20px 20px 0 #FFC600;
          box-shadow: 20px 20px 0 #FFC600;
}

.contact-body #name,
.contact-body #email {
  width: 46%;
  height: 40px;
  background-color: #262725;
  color: white;
  border: 0;
  border-bottom: 1px solid #FFC600;
  font-size: 2rem;
  padding-left: 40px;
}

#message {
  margin-top: 50px;
  width: 100%;
  height: 300px;
  background-color: #262725;
  color: white;
  border: 1px solid #FFC600;
  font-size: 2rem;
  padding: 40px;
  resize: none;
}

form button {
  width: 100%;
  margin-top: 50px;
}

.contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-info {
  margin: 0 auto;
  margin-top: 100px;
  width: 20%;
}

.contact-info i {
  color: #FFC600;
  padding-right: 25px;
}

.contact-info p {
  margin-top: 25px;
}

address {
  font-style: normal;
}

@media (max-width: 1200px) {
  .contact-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact-form {
    width: 90%;
    margin: 0 auto;
  }
  .contact-info {
    margin-top: -100px;
    margin-bottom: 100px;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .contact-header-title {
    padding-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .contact-body #name,
  .contact-body #email {
    width: 100%;
  }
  .contact-body #name {
    margin-bottom: 50px;
  }
}

@media (max-width: 900px) {
  .ham-input,
  .ham-icon {
    display: block;
    float: right;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    font-size: 4rem;
  }
}

.ham-icon {
  z-index: 2;
}

.ham-input:hover ~ .ham-icon {
  color: #FFC600;
}

.ham-input {
  z-index: 10;
  opacity: 0;
}

.ham-input:checked ~ .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  right: 10px;
  top: 50px;
  z-index: 2;
}

.ham-input:checked ~ .ham-background {
  position: absolute;
  top: 0;
  right: 0;
  height: 400px;
  width: 150px;
  background-color: #555F02;
  z-index: 1;
}

.ham-input:checked ~ .header-nav a {
  padding: 20px;
}
