html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
}

* {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Dokdo', cursive;
  font-size: 11.5rem;
  color: #FFC600;
  margin: 0;
}

h2 {
  font-family: 'Dokdo', cursive;
  font-size: 3rem;
  line-height: 69.6px;
  letter-spacing: 10px;
  color: #FFC600;
  margin: 0;
}

h3 {
  font-family: 'Dokdo', cursive;
  font-size: 4.5rem;
  line-height: 5.8px;
  letter-spacing: .49px;
  color: #FFC600;
}

.logo {
  font-family: 'Dokdo', cursive;
  font-size: 4.15rem;
  color: #FFC600;
}

h4 {
  font-family: 'Dokdo', cursive;
  font-size: 4rem;
  line-height: 58px;
  letter-spacing: 43px;
}

.navigation-font {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  list-style: none;
  color: white;
  text-transform: uppercase;
}

.navigation-font:hover,
.navigation-font:focus {
  color: #FFC600;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 2px;
  margin: 0;
  color: white;
}

::-webkit-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 2px;
}

:-ms-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 2px;
}

::-ms-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 2px;
}

::placeholder {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 2px;
}

button {
  font-family: 'Dokdo', cursive;
  font-size: 3.5rem;
  background-color: #555F02;
  color: white;
  border: none;
  padding: 5px 10px;
}

button:hover,
button:focus {
  background-color: #FFC600;
}

header {
  background-image: url(../mindnSoul-final-images/home-image-1.jpg);
  background-size: cover;
  height: 80vh;
}

.logo {
  float: left;
  padding-left: 10%;
  padding-top: 40px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 40px;
}

.navigation-font {
  padding-left: 40px;
}

header img {
  position: relative;
  bottom: -20%;
  float: left;
}

.title-pos {
  position: relative;
  top: 23%;
  left: 3%;
}

.welcome-to {
  color: white;
  position: relative;
  left: -26%;
  font-size: 4rem;
}

.new-adventure {
  background-color: #1E140E;
}

.new-adventure-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 200px;
  padding-bottom: 100px;
}

.new-adventure-text {
  width: 70%;
  margin-right: 75px;
}

.new-adventure-all img {
  -webkit-box-shadow: -20px 20px 0 #555F02;
          box-shadow: -20px 20px 0 #555F02;
  width: 30%;
}

.gallery {
  background-color: #262725;
}

.gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
}

.gallery img {
  width: 31%;
}

.links-sect {
  background-color: #1E140E;
  padding: 50px 0;
}

.links-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.links-div div {
  width: calc(50% - 6rem - 10px);
  margin-bottom: 50px;
}

i {
  font-size: 2.5rem;
  color: white;
}

span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #555F02;
  border-radius: 50%;
  height: 4.5rem;
  width: 4.5rem;
  margin-right: 10px;
  margin-top: 15px;
}

.vertical-split {
  background-color: #262725;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vertical-split div {
  width: 40%;
}

.vertical-split img {
  width: 40%;
}

.right-text {
  padding-right: 200px;
}

.left-text {
  padding-left: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.left-img {
  position: relative;
  top: -25px;
  -webkit-box-shadow: 20px 20px 0 #FFC600;
          box-shadow: 20px 20px 0 #FFC600;
}

.right-img {
  position: relative;
  top: 25px;
  -webkit-box-shadow: -20px 20px 0 #FFC600;
          box-shadow: -20px 20px 0 #FFC600;
}

.banner {
  width: 100%;
}

.trials {
  background-color: #1E140E;
  padding: 100px 0;
  margin-top: -1px;
}

.trials h2 {
  text-align: center;
}

.trials p {
  width: 70%;
  margin: 0 auto;
}

.trials button {
  width: 15%;
  margin-left: 42.5%;
  margin-right: 42.5%;
}

footer {
  background-color: #262725;
  text-align: center;
}
